<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
    <link rel="icon" href="./img/Screen Shot 2019-10-29 at 11.35.15.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="./img/Screen Shot 2019-10-28 at 13.35.10.png">
    </div>

    {{>footer}}
</body>
</html>